<header current_user="$ctrl.currentUser" connected="$ctrl.connected"></header>
<div ng-cloak >
  <md-content class="md-padding">
    <div layout="row" layout-align="space-between center">
      <h2>Home</h2>
      <md-button ng-if="!$ctrl.connected" ng-click="$ctrl.connect()" >Connect</md-button>
      <md-button ng-if="$ctrl.connected" ng-click="$ctrl.disconnect()" >Disconnect</md-button>
    </div>
  </md-content>
</div>

<div ng-cloak >
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-slider-container>
       <md-slider flex min="0" max="2000" ng-model="$ctrl.slider" aria-label="red" id="red-slider">
       </md-slider>
       <md-input-container>
         <input flex type="number" ng-model="$ctrl.slider" aria-label="red" aria-controls="red-slider">
       </md-input-container>
      </md-slider-container>
    </div>
  </md-content>
</div>
