<header current_user="$ctrl.currentUser" connected="$ctrl.connected"></header>
<div ng-cloak >
  <md-content class="md-padding">
    <div layout="row" layout-align="space-between center">
      <h2>Colors</h2>
    </div>
  </md-content>
</div>

<div ng-cloak >
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-input-container>
        <input
          colorpicker='hex'
          type="text"
          ng-model="$ctrl.colorPicker"
          ng-selected="$ctrl.colorChage()"
        />
      </md-input-container>
      <div class="colors-show-container">
        <div class='colors-show-box' ng-style="{background: $ctrl.colorPicker}"></div>
      </div>
    </div>
  </md-content>
</div>
