<header current_user="$ctrl.currentUser" connected="$ctrl.connected"></header>
<div ng-cloak >
  <md-content class="md-padding">
    <div layout="row" layout-align="space-between center">
      <h2>Colors</h2>
    </div>
  </md-content>

  <div layout="row" layout-align="start center">
    <div>
      <md-button
        ng-if="!$ctrl.ledStatus"
        class="xs-raised"
        aria-label="Learn More"
        ng-click="$ctrl.ledOn()">
        Включить
      </md-button>

      <md-button
        ng-if="$ctrl.ledStatus"
        class="xs-raised"
        aria-label="Learn More"
        ng-click="$ctrl.ledOff()">
        Выключить
      </md-button>
    </div>
    <md-button  class="md-icon-button led-status-button" aria-label="Favorite">
       <md-icon class='status-on' style="color: deep-orange;" ng-if="$ctrl.ledStatus">brightness_hight</md-icon>
       <md-icon class='status-off' style="color: deep-orange;" ng-if="!$ctrl.ledStatus">brightness_low</md-icon>
    </md-button>
  </div>


</div>

<div ng-cloak >
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-input-container>
        <input
          colorpicker='hex'
          type="text"
          ng-model="$ctrl.colorPicker"
          ng-selected="$ctrl.colorChage()"
        />
      </md-input-container>
      <div class="colors-show-container">
        <div class='colors-show-box' ng-style="{background: $ctrl.colorPicker}"></div>
      </div>
    </div>
  </md-content>
</div>
